.subscription {
    padding-top: 30px;
    .subscription-card {
        margin-bottom: 30px;
    }
    .subscription-button {
        .subscription-button-link{
            display: flex;
            width: 0px;
            .primary-button {
                input {
                    cursor: pointer;
                }
            }
        }
    }
}